{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $caption := .Get "caption" -}}
{{- $width := .Get "width" -}}
{{- $class := .Get "class" -}}

{{- /* For GitHub Pages, we need to use the baseURL for absolute paths */ -}}
{{- if hasPrefix $src "/" -}}
  {{- $src = (printf "%s%s" (strings.TrimSuffix "/" $.Site.BaseURL) $src) | safeURL -}}
{{- end -}}

<figure{{ if $class }} class="{{ $class }}"{{ end }}>
  <img src="{{ $src }}" alt="{{ $alt }}"{{ if $width }} width="{{ $width }}"{{ end }}>
  {{- if $caption -}}
    <figcaption>{{ $caption }}</figcaption>
  {{- end -}}
</figure>
