{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $caption := .Get "caption" -}}
{{- $class := .Get "class" -}}

{{- /* For GitHub Pages, we need to use the baseURL for absolute paths */ -}}
{{- if hasPrefix $src "/" -}}
  {{- $src = (printf "%s%s" (strings.TrimSuffix "/" $.Site.BaseURL) $src) | safeURL -}}
{{- end -}}

{{- /* Build figure classes */ -}}
{{- $figureClass := "responsive-figure" -}}
{{- if $class -}}
  {{- $figureClass = printf "%s %s" $figureClass $class -}}
{{- end -}}

<figure class="{{ $figureClass }}">
  <img src="{{ $src }}"
       alt="{{ $alt }}"
       loading="lazy"
       decoding="async">
  {{- if $caption -}}
    <figcaption>{{ $caption }}</figcaption>
  {{- end -}}
</figure>
